<html>
<head>
<title>Super Webapp 0.1</title>
</head>
<body>
<h1>Willkommen auf <%= @fqdn %></h1>

<p>Diese Applikation laeuft auf <%= @operatingsystem %> <%= @operatingsystemrelease %></p>
</body>
</html>
